---
import PageLayout from "@/layouts/Base.astro";

const meta = {
	description: "About me",
	title: "About",
};
---

<PageLayout meta={meta}>
	<h1 class="title mb-12">About</h1>
	<div class="prose prose-sm prose-cactus max-w-none">
		<p>
			I am Jozsef, an electronics engineer with a specific interest in reconfigurable computing and FPGAs. Outside of work, I enjoy nature (mostly rock climbing and mountain biking) and music (mostly electronic and playing the piano).
		</p>
    <p>
      Have a look at some of my personal projects under the Projects tab or email me <a href="mailto:jozsefv@proton.me">[here]</a>.
    </p>
  </div>
</PageLayout>
